<div th:fragment="nuevoHumano">
    <div class="modal fade" id="nuevoHumano" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center rounded">
                    <div class="circulo circulo-verde mb-5"></div>
                    <form>
                        <p>
                            <input type="text" id="nuevoHumanoNombre" name="nombre" 
                                placeholder="Nombre de humano" required autofocus>
                        </p>
                        <button id="nuevoHumanoSubmit" class="button-yellow mt-5" type="submit">Crear humano</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

// let form = $('form').serialize();
// console.log(form);

$('#nuevoHumanoSubmit').click(async function(event){
    event.preventDefault();
    const nombre = $('#nuevoHumanoNombre').val();
    
    if (nombre != null && nombre != ""){
        const response = await fetch("/mutation/saveHumano", {
        "method": "POST",
        "headers": {
        "Content-Type": "application/json"
        },
        "body": '{"nombre":"'+nombre+'"}'
        });
        const responseJson = await response.json();
        if (responseJson.id != null && responseJson.id != ""){
            $('#nuevoHumano').modal('hide')
        }

    }

   
});




</script>